body {
	width: 40%;
	margin: auto;
	padding: 30px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150%;
	background-color: rgb(202, 223, 240);
}

button {
	border-radius: 10px;
	border-width: 5px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 5px;
	width: 200px;
	height: 50px;
	font-size: 24px;
	font-family: monospace;
	float: left;
	outline: 0;
	background-color: rgba(0, 255, 0, 0.657);
}

.disabled_button {
	background-color: rgba(0, 255, 0, 0.144);
	cursor: not-allowed;
}

.disabled_input {
	background-color: aliceblue;
	color: grey;
}

label {
	padding-right: 20px;
}

h1 {
	font-family: 'Comfortaa', cursive;
	font-size: 50px;
	font-weight: lighter;
	color: brown;
}

h2 {
	font-size: 24px;
	font-weight: lighter;
}

li,
ul {
	padding-left: 20px;
	text-indent: -10px;
}

ul {
	list-style-type: disc;
}

.textgroup {
	padding: 10px 30px;
	border-style: solid;
	border-color: brown;
	border-radius: 10px;
	border-width: 2px;
}

#settings {
	margin-top: 20px;
	padding-bottom: 20px;
}

#info {
	margin-top: 20px;
}

kbd {
	border: 1px solid rgb(0, 0, 0);
	background-color: gainsboro;
	box-shadow: 1px 1px gray;
	border-radius: 2px;
	padding: 2px;
}

#info_tone_row {
	padding-left: 10px;
	font-size: small;
}